{% load static %}
<!doctype html>
    <head>
        <link href="{% static 'geral/css/base.css' %}" rel="stylesheet">

        <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'usuarios/css/usuarios.css' %}" rel="stylesheet">

    </head>


    <body>

        <h1 class="logo">Type.Event</h1>

        <h2>Seja bem vindo {{username}}!</h2>
        <h3> sua conta foi criada com sucesso.</h3>
        <p><a href="{{link_ativacao}}"> CLIQUE AQUI </a> ativar sua conta.</p>
        
        <p>Segue o link:</p>
        <p>{{link_ativacao}}</p>
        <br>

        <img src="{% static 'geral/img/logo_evento.png' %}" class="logo-evento">
    </body>


</html>