@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');



.bg-inscricao{
    height: 100vh;
    background-color: var(--dark-color);
    padding-left: 1%;
}.logo{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 45px;
    font-display: auto;
    margin-top: 40px;
    padding-bottom: 1%;      
    display: flex;
    justify-content: center;    
    align-items: center;
    color: transparent;
    background: linear-gradient(130deg, rgba(138,29,78,1) 10%, rgba(213,161,30,1) 55%, rgba(138,29,78,1) 30%);
    background-clip: text;    
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
}

.bg-img{
    background-image: url('/static/usuarios/img/bg.png');
    height: 100vh;
    background-size: cover;
    color: #14e9e9
}



.box-form{
    width: 70%;
    background-color: var(--main-color);
    margin: auto;
    padding: 40px;
    margin-top: 3%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #0e0e0e;
    height: 65vh;
}

.link{
    color: var(--differential-color);
    text-decoration: none;
}
/* Olho */
form .input-field {
    position: relative;
}.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 68%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #6a6a6a;
    cursor: pointer;
    padding: 3px;
}
/* Notificação */


.btn-principal{    
    background-color: transparent;
    border: 1px solid var(--contrast-color);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}.btn-principal:hover{
    background: rgb(138,29,78);
    background: linear-gradient(90deg, rgba(138,29,78,1) 0%, rgba(213,161,30,1) 47%, rgba(138,29,78,1) 100%);
}.btn-auth{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-evento{

    position: fixed;
    bottom: 20px;

}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: 14px;
}
.info a{
    font-size: 16px;
}