{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}
    <link href="{% static 'usuarios/css/usuarios.css' %}" rel="stylesheet">
{% endblock %}
{% block 'title' %} Recuperar{% endblock %}
{% block 'body' %}


<div class="container-fluid bg-inscricao">
        
    <div class="row">
        <div class="col-md">
            <h3 class="logo">Type.Event</h3>

            <div class="box-form">
                <h3>RECUPERA ACESSO</h3>        
                <hr style="border-color: #7E7B7C">

                <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
                    <!-- {{form}} -->
                    <div class="input.field">
                        <label>E-mail:</label>
                        <input type="email" class="form-control" placeholder="E-mail..." name="email">
                    </div>
                    <br>
                    <div class=" btn-auth">
                    <input type="submit" value="Recuperar" class="btn-principal">
                    </div>
                    {% if form.errors %}
                    {{form.errors}}
                    {% endif %}
                </form>
            </div>
            <img src="{% static 'geral/img/logo_evento.png' %}" class="logo-evento">

        </div>

        <div class="col-md bg-img">
        
        </div>
    
    </div>
</div>



{% endblock %}