{% if messages %}    
    <div class="notifications ">
        {% for message in messages %}                         
                <div class=" alert {{ message.tags }}" id="notification">
                        {{ message }}
                    </div>           
        {% endfor %}
    </div>
{% endif %}

<div class="box-form">
    <h3>RECUPERA SENHA</h3>
    <hr style="border-color: #7E7B7C">

    
        

    <form action="" method="POST">{% csrf_token %}
        
        <div class="row">
            <div class="col-md input-field">
                <label>Senha:</label>
                <input type="password" class="form-control" placeholder="Senha..." name="senha">
                <i class="bx bx-hide show-hide"></i>
            </div>

            <div class="col-md input-field">
                <label>Confirmar senha:</label>
                <input type="password" class="form-control" placeholder="Confirmar senha..." name="confirmar_senha">
                <i class="bx bx-hide show-hide"></i>
            </div>
        </div>
        <br>
        <div class="row">
            <div class=" btn-auth">
                <input type="submit" value="CONFIRMAR" class="btn-principal">
            </div>
        </div>
        
    </form>
</div>