{% extends "bases/base_evento.html" %}
{% load static %}
{% block 'title' %} Meus Certificados{% endblock %}

{% block 'conteudo' %}

<div class="container">
    <br>
    <br>
    <div class="row">
        {% for certificado in certificados %}
            <div class="col-md-4">
                <a href="{{ certificado.certificado.url }}" target="_blank">
                <img src="{{certificado.certificado.url}}" width="100%">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}