{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}

    {% block 'importacoes' %}{% endblock %}
    <link href="{% static 'evento/css/evento.css' %}" rel="stylesheet">
    <link href="{% static 'usuarios/css/usuarios.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-color" data-bs-theme="dark">
    <div class="container-fluid ">
      <a class="navbar-brand justify-content-center flex-fill text-center mx-auto" href="#">Type.Event</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Eventos
                </a>
            
                <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" href="{% url 'novo_evento'%}">Criar novo evento</a></li> -->
                    <li><a class="dropdown-item" href="{% url 'gerenciar_evento'%}">Lista Eventos</a></li>
                </ul>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cliente
                </a>
                 <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="">Meus eventos</a></li>
                    <li><a class="dropdown-item" href="{% url 'meus_certificados'%}">Meus certificados</a></li>
                </ul>
            </li> -->
            
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle destaque-usuario" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user.username}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'novo_evento' %}">Criar Novo</a></li>
              <li><a class="dropdown-item" href="{% url 'gerenciar' %}">Gerencia Eventos</a></li>
              <li><a class="dropdown-item" href="{% url 'meus_certificados'%}">Meus Certificados</a></li>
              <li><a class="dropdown-item" href="">Perfil</a></li>
              <li><a class="dropdown-item" href="{% url 'sair' %}">Sair</a></li>
            </ul>

          </li><li></li>
        </ul>
      </div>
    </div>
  </nav>
    <div style="min-height: 60vh">
        {% block 'conteudo' %}

        {% endblock %}
    </div>

    <div class="fundo-pagina">
        
    </div>
{% endblock %}