{% extends "bases/base_evento.html" %}
{% load static %}
{% block 'title' %} Certificados no Evento{% endblock %}
{% block 'importacoes' %}
    <link href="{% static 'evento/css/gerenciar_evento.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
    

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3>{{evento.nome}}</h3>
            </div>
            <hr>
        
        
        
            <div class="col-md-3">
                <img width="100%" src="/media/{{evento.logo}}">
            </div>
            <div class="col-md-6" id="meio">
                <h5>{{qtd_certificados}} Certificados para serem gerados</h5>            
                {% if qtd_certificados > 0 %}
                    <a href="{% url 'gerar_certificado' evento.id %}" class="btn-terce" >GERAR TODOS OS CERTIFICADOS</a>
                {% endif %}
            </div>

            <div class="col-md-3">
                <a class="btn-secudario" href="{% url 'inscrever_evento' evento.id %}">Inscricão</a>
                <a class="btn-secudario" href="{% url 'participantes_evento' evento.id %}">Participantes</a>
                    
                   
                    
                
            </div>
        </div>
         

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="pro">
                <h5>Procurar certificado</h5>
                </div>
                <br>
                <form action="{% url 'procurar_certificado' evento.id %}" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md input-box">
                            <i class="bx bx-search-alt"></i> 
                            <input  type="email" id="input" placeholder="Digite o e-mail" name="email" class="form-control">
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        
        
    </div>

{% endblock %}