{% extends 'bases/base_evento.html' %}
{% block 'title' %} Inscrever no Evento{% endblock %}

{% block 'conteudo' %}
    
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3>{{evento.nome}}</h3>
            </div>
            <hr>
            
            
            </div>
            <div class="row">
                <div class="col-md-3">
            
                    <img width="100%" src="{{evento.logo.url}}">
                </div>
                <div class="col-md-6">
                    <h4>Informações</h4>
                    <p>Criador: {{evento.criador}}</p>
                    <p>Datas: {{evento.data_inicio}} a {{evento.data_termino}}</p>
                    <p>Carga Horário: {{evento.carga_horaria}} horas</p>
                    
                </div>
                <div class="col-md-3">
                    <h4>Cores</h4>
                    <p aria-disabled="false">Principal: <input type="color" value="{{evento.cor_principal}}" disabled></p>
                    <p aria-disabled="false">Secundário: <input type="color" value="{{evento.cor_secundaria}}" disabled></p>
                    <p aria-disabled="false">Fundo: <input type="color" value="{{evento.cor_fundo}}" disabled></p>
                </div>
            </div>
            <hr>

            <div class="col-md-6">
                <h5>Descrição: {{evento.descricao}}</h5>
                <br>
                
               

            </div>
            <div class="button_insc">
                {% if request.user in evento.participantes.all %}
                    <input style="border-color: green;" type="submit" class="btn-principal" value="JÁ ESTÁ PARTICIPANDO" disabled>
                {% else%}
                    <form action="{% url 'inscrever_evento' evento.id %}" method="POST">{% csrf_token %}
                        <input type="submit" class="btn-principal" value="QUERO PARTICIPAR">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}