{% extends 'bases/base_evento.html' %}
{% block 'title' %} Inscrever no Evento{% endblock %}

{% block 'conteudo' %}
    {% if messages %}    
    <div class="notifications ">
        {% for message in messages %}                         
                <div class=" alert {{ message.tags }}" id="notification">
                        {{ message }}
                    </div>           
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3>{{evento.nome}}</h3>
            </div>
            <hr>
            
            
            </div>
            <div class="row">
                <div class="col-md-3">
            
                    <img width="100%" src="{{evento.logo.url}}">
                </div>
                <div class="col-md-6">
                    <h4>Informações</h4>
                    <p>Criador: {{evento.criador}}</p>
                    <p>Datas: {{evento.data_inicio}} a {{evento.data_termino}}</p>
                    <p>Carga Horário: {{evento.carga_horaria}} horas</p>
                    
                </div>
                <div class="col-md-3">
                    <h4>Cores</h4>
                    <p>Principal: {{evento.cor_principal}}</p>
                    <p>Secundário: {{evento.cor_secundaria}}</p>
                    <p>Fundo: {{evento.cor_fundo}}</p>
                </div>
            </div>
            <hr>

            <div class="col-md-6">
                <h5>Descrição: {{evento.descricao}}</h5>
                <br>
                
               
                {% if request.user in evento.participantes.all %}
                    <input style="border-color: green;" type="submit" class="btn-principal" value="JÁ ESTÁ PARTICIPANDO" disabled>
                {% else%}
                    <form action="{% url 'inscrever_evento' evento.id %}" method="POST">{% csrf_token %}
                        <input type="submit" class="btn-principal" value="QUERO PARTICIPAR">
                    </form>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}